body {
  margin: 10vh 20vw;
}
section {
  width: 40vw;
  background-color: aqua;
  padding: 2vh 2vw;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
